.visualizer-container {
  .header-container {
    height: 150px;
    background-color: #BAF2BB;
    display: flex;

    .title-algo-buttons-container {
      .visualizer-title {
        text-transform: uppercase;
        font-size: 30px;
        padding: 10px;
        color: #7C7287;

      }

      .button-group-container {
        margin: 10px;
      }
    }

    .sliders-container {
      #input-slider {
        color: #7C7287;
      }

      flex-grow: 1;
      padding: 20px;
    }


  }

  .array-container {
    display: flex;
    justify-content: center;

    .array-bar {
      width: 2px;
      display: inline-block;
      margin: 0 1px;
      vertical-align: top;
    }
  }


}